<!--https://1stwebdesigner.com/css-snippets-blockquotes/ has great block quote designs-->
<% provide(:title, "Coach Caleb") %>

<header class="coach-head">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <q>Balancing the hard work with fun and adventure<br>is what makes a great coach, and that
is what I strive to do.</q>
        <h1>-Caleb Swartz-</h1>
      </div>
      <div class="col-lg-4 mx-auto">
      </div>
    </div>
  </div>
</header>

<div class="container">
    <p>My name is Caleb Swartz and I am from Madison, Wisconsin. I started racing
cyclocross when I was 9 years old and mountain bikes when I was 10 years old. After
my first race I was immediately hooked and continued to progress throughout my early
teens and started working with Joe Maloney. When I was 14 I decided cycling was what
I really enjoyed and chose to pursue my dreams in the sport. Since then I have
competed at a national and international level earning wins and podiums at professional
UCI races, won two national championships, and represented the U.S. in World Cups
and both cyclocross and mountain bike World Championships.<br><br>
There is nothing I enjoy more than racing and riding my bike. Training is a key part of
my life that that I am extremely passionate about. That is part of the reason I chose to
become a coach, I love working with people and helping them achieve their goals. For
me, one the most important parts of training and racing is keeping it fun. Keeping my
athletes hungry and motived to keep working hard is key. That philosophy applies to
everyone from a beginner road racer to an expert cyclocross or mountain biker.
Balancing the hard work with fun and adventure is what makes a great coach, and that
is what I strive to do.<br><br>
I am now 20 years old and racing both mountain and cyclocross professionally. I also
attend Marian University in Indianapolis, Indiana where I am pursuing a biology degree.
My progression from a junior to a professional have given me an in depth understanding
of the application as well as the execution of coaching. My goal is to share that
knowledge, combined with the training expertise of JM Coaching to help others achieve
their goals and discover their own love of cycling.</p>
</div>

<h1> Big link to get started, goes to contact form</h1>
<h2>collection of links to social media and pictures or plug ins from other sites</h2>
<p>ideas:<br>instagram picture plugins, links to all socials, links to training peaks web store.