<% provide(:title, "Meet the Coaches") %>

<section id="caleb" class="focus-section text-center">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1>Caleb Swartz</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <%= image_tag "caleb-coach.jpg", size: "540", class: "photo-circle" %>
      </div>
      <div class="col-lg-6 mx-auto">
        <table style="height: 540px;">
          <tr>
            <td class="align-middle">
              <h2>Every athlete needs a coach.</h2>
              <p>JM coaching understands the confusion and uncertainty that comes with training. Cycling is a beautiful sport filled with challenge and adversity and the path forward isn’t always clear. That's why JM Coaching focuses on providing the clarity and tools to overcome these cahllenges.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="sam" class="focus-section text-center">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1>Samual Elson</h1>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-6 mx-auto">
        <table style="height: 540px;">
          <tr>
            <td class="align-middle">
              <h2>Every athlete needs a coach.</h2>
              <p>JM coaching understands the confusion and uncertainty that comes with training. Cycling is a beautiful sport filled with challenge and adversity and the path forward isn’t always clear. That's why JM Coaching focuses on providing the clarity and tools to overcome these cahllenges.</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6 mx-auto">
        <%= image_tag "sam-coach.jpg", size: "540", class: "photo-circle" %>
      </div>
    </div>
  </div>
</section>