<header class="coach-head">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">    
        <div class="testimonial-quote group">
            <img src="http://placehold.it/120x120">
            <div class="quote-container">
                <blockquote>
                    <p>Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.”</p>
                </blockquote>  
                <cite><span>Kristi Bruno</span><br>
                    Social Media Specialist<br>
                    American College of Chest Physicians
                </cite>
            </div>
        </div>
    </div>
</div>
</header>