<nav class="sidebar" id="admin-sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <h3>Admin</h3>
      <p>Hello, <%= "#{current_admin.username}" %>! </p>
      <ul>
        <li>
          <%= link_to "Blog Admin Panel", blog_admin_path %>
        </li>
        <li>
          <%= link_to "Tag Admin Panel", tag_admin_path %>
        </li>
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>