<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse">
      <%= link_to "JM Coaching Services", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Blog", posts_path, class: "nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav>