@import "variables";

.post-top {
  position: relative;

  h1 {
    position: absolute;
    bottom: 25%;
    width: 100%;

    background-color: white;

    border-top: 10px solid $jm-red;
    border-bottom: 10px solid $jm-blue;
  }
}