<% provide(:title, "Admin Home") %>

<h1>Admin Home</h1>

<p>Welcome to the Admin Home page!<br>This page will have a quick overview of admin activities as well as list of recent sales and posts that are not finished or posted?<p>