<!DOCTYPE html>
<html>
  <head>

    <%= render 'shared/head' %>

  </head>

  <body>

    <%= render 'shared/nav' %>

    <div class="page-wrapper">
      <div class="container-fluid" id="yield-content">

        <%= yield %>

        <%= render 'shared/footer' %>
        
      </div>
    </div>
  </body>
</html>
